
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to bottom, #b06ab3, #4568dc);; 
  color:black;
}

header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 4rem;
  color:white;
  padding:12px;
  background: rgb(32, 32, 32);
  display: flex;
  align-items: center; 
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

}

header img {
  height:1.5rem;
  margin-right: 10px;

}

.textInput{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 4rem;
  border-top:1px solid white;
  background-color: rgb(32,32,32);
  border-color: rgb(0,0,0);
}

.typeBox{
  position: absolute;
  margin-left: 3%;
  margin-right: 3%;
  width: calc(100% - 50px);
  padding: 7px;
  margin-top: 7px;
  border-radius: 15px;
  border:none;
  background-color: rgba(255,255,255,.8)
}

.sendButton{
  position: relative;
  display:flex;
  float:right;
  margin-top: 7px;
  margin-right:1.5%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  border:none;
}

.sendArrow{
  height:25px;
}

.message{
  color: white;
  background: black;
  margin: 5px;
  border-radius:5px;
  padding:10px;
}

/*
.messages{
  width: 100%;
  color: blue;
}


.message-wrap{
  width:100%;
  display: flex;
  justify-content: flex-start;
  max-height: 675px;
  display:flex;
  flex-direction:column-reverse;
  overflow-y:scroll;
  margin-top:48px;
  margin-bottom:48px;
}

.message-wrap[from='me']{
  justify-content:flex-end;
}

*/

/*box might look weird because calc isn't working
I think there is something that you need to download
in order to use calc*/

.messages{
  height:calc(100% - 8rem);
  width:100vw;
  position: absolute;
  top:4rem;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:auto;
}
.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
  flex-shrink:0;
}
.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message{
  position: relative;
  margin-top:10px;
  padding: 0 10px;
}
.msg-text{
  color:white;
  background:black;
  margin:5px;
  border-radius:5px;
  padding:3px 6px;
  display: inline-block;
}
.msg-name{
  font-size:11px;
  position:absolute;
  top:-15px;
  left:5px;
}

.edit-username{
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.name-submit{
  background-color:rgba(0,0,0,0);
  color: white;
}

.name-input{
  color: white;
  border-radius:10px;
  border: none;
  padding:4px;
  background-color:rgba(0,0,0,0);
  width: 80px;
}




/* FONT SIZE
Font size is key to the entire site
Everything else changes based on the changing font size
the font size you set on the html element determines the rest of the page
rem is a multiple of the font size of the html element
*/